
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$color-white: #f4f5f9;
$color-storm-grey: #4a4c55;
$color-accent: #e74c3c;
$color-grey: #6a6a6a;
$color-bright-grey: #a3a2a3;
$transition: 0.3s;
$section-border: #cccccc;
$fontSans: 'Open Sans'